@font-face {
  font-family: "MyFont";
  src: url("./Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: "MyFont";
  background: url("./icon.jpg");
}
/* styles.css */
.board {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cell.ship {
  background-color: lightblue; /* Color to indicate a ship's presence */
}

.cell.hit {
  background-color: red;
}

.cell.miss {
  background-color: gray;
}

.cell:hover:not(.hit, .miss) {
  background-color: rgba(128, 128, 128, 0.253);
}

.cell:active {
  scale: 1.1;
}

.placeableShip {
  cursor: grab;
  margin: 5px;
  padding: 5px;
  border: 1px solid #000;
  display: inline-block;
  background-color: lightgray;
}
